{
  "presets": [
    [
      "@babel/preset-env", {
        "targets": {
          "browsers": "> 5%"
        },
        "loose": true,
        "modules": false,
        "bugfixes": true
      }
    ],
    "@babel/preset-react"
  ]
}
