{
  "presets": [
    [
      "@babel/preset-env", {
        "targets": {
          "browsers": "> 5%"
        },
        "modules": false,
        "bugfixes": true
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ]
  ]
}
